.container {
    font-family: 'Nunito Sans';
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    padding: 1.5rem 1rem;

    @media (max-width: 920px) {
        grid-template-columns: 1fr;
    }
}

.row {
    align-items: center;
    display: grid;
    padding: .5rem;
    gap: .5rem;
}

.row-1-auto {
    grid-template-columns: 1fr auto;
}

.row-1-1 {
    grid-template-columns: 1fr 1fr;
}

.row-auto-1-auto {
    grid-template-columns: auto 1fr auto;
}

.text-bold {
    font-weight: 700;
}

input {
    border-radius: 3px;
    font-family: 'Nunito Sans';
    font-size: 1rem;
    padding: .5rem;
}
