<script setup>
import { ref, computed, onMounted } from 'vue';
import { library } from '@fortawesome/fontawesome-svg-core';
import { FontAwesomeIcon as FAIcon} from '@fortawesome/vue-fontawesome';
import Draggable from 'vuedraggable';

import { ofetch } from 'ofetch';
import {
    faGear as fasGear,
    faRotate as fasRotate,
    faArrowUp as fasArrowUp,
    faGaugeHigh as fasGaugeHigh,
    faBars as fasBars,
    faTrash as fasTrash,
    faCheck as fasCheck,
    faXmark as fasXmark,
} from '@fortawesome/free-solid-svg-icons';

library.add(fasGear, fasRotate, fasArrowUp, fasGaugeHigh, fasBars, fasTrash, fasCheck, fasXmark);

const newCityForm = ref(null);
const cityList = ref([]);
const loading = ref(false);
const modalOpen = ref(false);
const weatherData = ref({});

const cities = computed(() => cityList.value.map(item => item.name));

onMounted(async () => {
    cityList.value = JSON.parse(localStorage.getItem('cityList')) || [];

    await refresh();
});

async function fetchData(city) {
    try {
        loading.value = true;

        const querySettings = new URLSearchParams({
            units: 'metric',
            appid: import.meta.env.VITE_OWM_APIKEY,
        });

        const data = await ofetch(`https://api.openweathermap.org/data/2.5/weather?q=${city}&${querySettings}`);

        return data;
    } catch (error) {
        alert('Something went wrong when loading data from OWM. Check browser console for details.');
        throw new Error(error);
    } finally {
        loading.value = false;
    }
}

function capitalize(string) {
    if (!string) return;

    const [first, ...rest] = string.toLowerCase();

    return `${first.toUpperCase()}${rest.join('')}`;
}

function weather(city) {
    return weatherData.value?.[city];
}

async function refresh() {
    for (let city of cities.value) {
        weatherData.value[city] = await fetchData(city);
    }
}

async function addCity() {
    const newCity = newCityForm.value.querySelector('input').value;

    if (!newCity) return;

    const isInList = cityList.value?.some(item => item.name === newCity);

    if (!isInList) {
        try {
            weatherData.value[newCity] = await fetchData(newCity);
            cityList.value.push({ name: newCity, id: cityList.value.length });
            localStorage.setItem('cityList', JSON.stringify(cityList.value));
            newCityForm.value.querySelector('input').value = '';
        } catch(error) {
            console.log(error);
        }
    } else {
        alert('City is already in the list');
    }
}

function removeCity(city) {
    cityList.value = cityList.value.filter(item => item.name !== city);
    localStorage.setItem('cityList', JSON.stringify(cityList.value));
}
</script>

<template>
    <div class="container">
        <div class="weather-widget">
            <div v-if="cities?.length">
                <div
                    v-for="city, index in cities"
                    :key="city"
                    class="city-weather"
                >
                    <div class="row row-1-auto title">
                        <div class="text-bold">{{ weather(city)?.name }}</div>
                        <div>
                            <button
                                v-if="index === 0"
                                class="refresh-btn"
                                :class="{
                                        loading: loading,
                                }"
                                @click="refresh"
                            >
                                <FAIcon icon="fa-rotate" />
                            </button>
                            <button
                                v-if="index === 0"
                                class="settings-btn"
                                @click="modalOpen = true"
                            >
                                <FAIcon icon="fa-gear" />
                            </button>
                        </div>
                    </div>
                    <div class="row temperature">
                        <i :class="`wi wi-owm-${weather(city)?.weather?.[0].id}`"></i>
                        <div>{{ `${weather(city)?.main?.temp.toFixed()}&deg;C` }}</div>
                    </div>
                    <div class="row">
                        {{ `Feels like ${weather(city)?.main?.feels_like.toFixed()}&deg;C. ${capitalize(weather(city)?.weather?.[0].main)}. ${capitalize(weather(city)?.weather?.[0].description)}.` }}
                    </div>
                    <div class="row row-1-1">
                        <div class="wind">
                            <span class="wind-direction" :style="`transform: rotate(${weather(city)?.wind?.deg}deg);`">
                                <FAIcon icon="fa-arrow-up" />
                            </span>
                            {{ `${weather(city)?.wind?.speed.toFixed(1)} m/s` }}
                        </div>
                        <div class="pressure">
                            <FAIcon icon="fa-gauge-high" />
                            {{ `${weather(city)?.main?.pressure} hPa` }}
                        </div>
                    </div>
                    <div class="row row-1-1">
                            <div class="humidity">
                                {{ `Humidity: ${weather(city)?.main?.humidity}%` }}
                            </div>
                            <div class="visibility">
                                {{ `Visibility: ${(weather(city)?.visibility / 1e3).toFixed(1)} km` }}
                            </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="row row-1-auto">
                    <div>{{ 'Please add cities' }}</div>
                    <button
                        class="settings-btn"
                        @click="modalOpen = true"
                    >
                        <FAIcon icon="fa-gear" />
                    </button>
                </div>
            </div>
        </div>
        <transition name="fade">
            <div
                v-if="modalOpen"
                id="modalBackdrop"
                ref="modal"
                class="modal-bg"
            >
                <div class="modal">
                    <div class="head-wrapper">
                        <div class="head">
                                {{ 'Settings' }}
                        </div>
                        <button
                            class="close-btn"
                            @click="modalOpen = false"
                        >
                            <FAIcon
                                icon="xmark"
                            />
                        </button>
                    </div>
                    <div class="body">
                        <Draggable
                            v-model="cityList"
                            class="city-list"
                            item-key="id"
                        >
                            <template #item="{ element }">
                                <div
                                    class="city-list-item row row-auto-1-auto"
                                    :class="{ 'not-draggable': !enabled }"
                                >
                                    <button class="drag-btn">
                                        <FAIcon icon="fa-bars" />
                                    </button>
                                    <div>{{ element.name }}</div>
                                    <button
                                        class="deletion-btn"
                                        @click="removeCity(element.name)"
                                    >
                                        <FAIcon icon="fa-trash" />
                                    </button>
                                </div>
                            </template>
                        </Draggable>
                    </div>
                    <div class="foot">
                        <div>Add location</div>
                        <div
                            ref="newCityForm"
                            class="row row-1-auto new-city-input"
                        >
                            <input
                                type="text"
                                placeholder="Enter city"
                                @keydown.enter="addCity"
                            >
                            <button class="submit-btn" @click="addCity">
                                <FAIcon icon="check" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap');
@import "@/assets/scss/styles";

.weather-widget {
    background: linear-gradient(to top right, #d4aaff, #00aeff);
    border-radius: 3px;
    font-size: 1rem;
    grid-column: 2;
    padding: 1rem;
    color: #222;
}

.city-weather {
    &:not(:first-of-type) {
        margin-top: 1rem;
    }

    .row:nth-child(2n + 1):not(.title) {
        background: rgba(#fff, .075);
        border-radius: 3px;
    }
}

.title {
    font-size: 1.1rem;
}

.temperature {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    gap: 1.5rem;
    justify-content: center;
    padding-block: 1.5rem;
    color: rgba(#fff, .6);
    border: 1px solid rgba(#fff, .25);
    background: rgba(#fff, .075);
    border-radius: 3px;
    margin-top: .5rem;
    margin-bottom: 1rem;
    border-radius: 3px;

    & i {
        font-size: 4rem;
    }
}

.wind-direction {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 2rem;
    width: 2rem;

    > svg {
        height: 100%;
        width: 100%;
        transition: color .2s ease-in;

        &:hover {
                color: #666;
        }
    }
}

.settings-btn {
    svg {
        transition: transform .5s ease-in-out;

        &:hover {
                color: #333;
                transform: rotate(60deg);
        }
    }
}

.city-list {
    display: grid;
    padding: 1rem;
    gap: .8rem;
}

.city-list-item {
    background-color: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #00aeff;
    display: grid;
    padding: .25rem .5rem;
}

.new-city-input {
    padding: .25rem 0;

    input {
        border: 1px solid #00aeff;
        transition: border-color .2s ease-in;

        &:focus,
        &:active,
        &:hover,
        &:focus-visible {
                border: 1px solid #d4aaff;
                outline: none;
        }
    }
}

.loading {
    transform: rotate(360deg);
    transition: 1s linear;
}

$modal-height: 90vh;
$modal-height-mobile: 100vh;
$head-height: 3rem;
$foot-height: 5rem;

.modal-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(#333, .2);
    backdrop-filter: blur(8px);
    overflow-y: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 4fr 1fr;
}

.modal {
    max-width: 45rem;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    z-index: 10;
    margin: auto;
    grid-column: 2 / 3;
    max-height: $modal-height;

    .head-wrapper {
        min-height: $head-height;
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .head {
        align-items: center;
        display: grid;
        margin: 0 1rem;
        grid-template-columns: 1fr auto;
    }

    .head,
    .foot {
        z-index: 3;
    }

    .body {
        width: 100%;
        overflow-y: auto;
        max-height: calc(#{$modal-height} - #{$head-height} - #{$foot-height});
    }

    .foot {
        min-height: $foot-height;
        display: grid;
        align-items: center;
        background-color: transparent;
    }

    .foot {
        padding: .5rem 1rem;
    }

    .close-btn {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        width: $head-height;
        height: $head-height;
        justify-content: center;
        align-items: center;
        padding: .75rem;

        &:hover {
                cursor: pointer;
        }

        > svg {
                height: 100%;
                width: 100%;
        }
    }
}
</style>

